:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-font-color: #212121;
  --description-font-color: #757575;
  --footer-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: var(--main-font);
}

/* ============= COMPONENTS ============= */
.suptitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.current {
  color: var(--accent-color);
}
/* ============= END COMPONENTS ============= */

/* ============= HEADER ============= */
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}

.menu-link,
.mail-link,
.tel-link {
  padding: 10px 0;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 94px;
}
.logo-header-studio {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.mail-link,
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-font-color);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
/* ============= END HEADER ============= */

/* ============= HERO STUDIO ============= */
.hero-studio {
  background-color: #2f303a;
}
.hero-studio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  box-sizing: content-box;
  width: 696px;
  margin-top: 200px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.modal-btn {
  margin-bottom: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  padding: 0 32px;
}
/* ============= END HERO STUDIO ============= */

/* ============= ADVANAGES ============= */
.advantages-container {
  display: flex;
  align-items: center;
}

.advantages-list {
  display: flex;
  align-items: center;
}

.advantages-list-item {
  width: 270px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-font-color);
  margin-bottom: 10px;
}
.advantages-list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-font-color);
}
/* ============= END ADVANAGES ============= */

/* ============= MAKE ============= */
.make {
  padding-top: 0px;
}
.make-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.make-title {
  margin-bottom: 50px;
}
.make-img {
  display: flex;
}
.make-img-list-item:not(:last-child) {
  margin-right: 30px;
}

/* ============= END MAKE ============= */

/* ============= TEAM ============= */
.team {
  background-color: var(--team-bg-color);
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  border: 0px;
}
.team-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
.team-card {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.team-list-title {
  margin-bottom: 10px;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.team-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-font-color);
}
/* ============= END TEAM ============= */

/* ============= PORTFOLIO ============= */
.portfolio-container {
  display: flex;
  flex-direction: column;
}
.hero-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.hero-list-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-font-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
}
.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.pf-card {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-font-color);
}
.portfolio-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--description-font-color);
}
/* ============= END PORTFOLIO ============= */

/* ============= FOOTER ============= */
.footer {
  background-color: var(--footer-bg-color);
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-link-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.logo-footer-studio {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-list-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-list-item-mail,
.address-list-item-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;
}
/* ============= END FOOTER ============= */
